.heading {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .address{
    margin-top: 1px;
    padding-top: 1px;
  }
 .to{
    margin-top: 1px;
     padding-top: 5px;
    
 }
 .sub{
    padding-top: 5px;
 }
 .p1{
    padding-top: 5px;
    padding-right:40px;
 }
 .shi{
     margin-right: 80px;
 }
 .thankyou{
    padding-top: 8px;

 }
 .end{
    padding-top: 10px;
 }
 .end p{
     margin-top: 1px;
     padding-top: 1px;
 }

     

 